Uh oh! Seems like joe doesn't know what phpstorm is.
Try running `joe ls` to see list of available gitignore files.
#### joe made this: https://goel.io/joe

#####=== JEKYLL ===#####

_site/
.sass-cache/

#####=== LARAVEL ===#####

/bootstrap/compiled.php
.env.*.php
.env.php

.idea
