---
layout: empty
title: Artikel Terbaru
---

<div class="container" id="page-home">
    <div class="col-md-8 col-sm-12">

        <p class="lead">IDL menyajikan tutorial, tip praktis, dan info terbaru tentang Laravel dan PHP. Ditulis dalam bahasa Indonesia yang santai oleh para kontributor berpengalaman, semua artikel layak untuk dibaca hingga baris terakhir.</p>

        {% for post in site.posts %}
        <div class="item row">
            <div class="col-md-9 col-sm-12">
                <a href="{{ post.url }}">{{ post.title }}</a>
            </div>

            <div class="col-md-3 hidden-xs hidden-sm text-right">
                <small class="date text-muted">
                    <time datetime="{{ post.date | date_to_xmlschema }}" class="post-date">
                    {{ post.date | date_to_string }}
                    </time>
                </small>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="col-md-4">

        {% include subscribe.html %}

        <div class="panel panel-default text-center">
            <div class="panel-body">
                <p class="lead">
                    Good programmer write code for machine, <b>great programmer write code for other programmer</b>.
                </p>
                <small class="text-muted">- web artisan -</small>
            </div>
        </div>

    </div>
</div>
