<!DOCTYPE html>
<html>
<head>
    <title>{{ site.tagline }}</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- facebook open graph meta -->
    <meta property="og:title" content="{{ site.tagline }}" />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="{{ site.baseurl }}public/img/site-avatar.png" />
    <meta property="fb:app_id" content="298606486948985"/>
    <!-- end facebook open graph meta -->

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link href="{{ site.baseurl }}public/css/app.min.css" rel="stylesheet" media="screen">

    <!-- Icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.baseurl }}public/apple-touch-icon-precomposed.png">
    <link rel="shortcut icon" href="{{ site.baseurl }}public/favicon.ico">

    <!-- RSS -->
    <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ site.baseurl }}atom.xml">

    {% include ga.html %}
    {% include sharethis.html %}

</head>
<body onload="prettyPrint()">

{% include facebook.html %}

<nav class="navbar navbar-default" id="navbar-header">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ site.baseurl }}">
                <img src="{{ site.baseurl }}public/img/site-avatar.png" alt="" width="50px">
            </a>
            <h1 class="title navbar-text">
                <a href="{{ site.baseurl }}">{{ site.title }}</a>
            </h1>
        </div>
    </div>
</nav>

<div class="clearfix"></div>
