<!DOCTYPE html>
<html>
<head>
    <title>{{ site.tagline }}</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- facebook open graph meta -->
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="{{ site.baseurl }}public/img/site-avatar.png" />
    <meta property="fb:app_id" content="298606486948985"/>
    <!-- end facebook open graph meta -->

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400, 700|Lato:300,700' rel='stylesheet' type='text/css'>
    <link href="{{ site.baseurl }}public/css/app.min.css" rel="stylesheet" media="screen">

    <!-- Icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.baseurl }}public/apple-touch-icon-precomposed.png">
    <link rel="shortcut icon" href="{{ site.baseurl }}public/favicon.ico">

    <!-- RSS -->
    <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ site.baseurl }}atom.xml">

    {% include ga.html %}

</head>
<body onload="prettyPrint()">

{% include facebook.html %}

<nav class="navbar navbar-default" id="navbar-header">
    <div class="container">
        <div class="col-md-12">
            <div class="navbar-header">
                <img src="{{ site.baseurl }}public/img/site-avatar.png" alt="logo Laravel Indonesia" width="50px" class="logo hide">
                <a class="navbar-brand title" href="{{ site.baseurl }}"><span class="primary">ID</span><span class="secondary">Laravel</span></a>
            </div>
            <p class="navbar-header tagline hidden-xs">
                Belajar Laravel Ala Indonesia
            </p>

            <ul class="nav navbar-nav navbar-right nav-main hidden-xs hidden-sm">
                <li><a href="/download">Download</a></li>
                <!--<li><a href="http://idlaravel-auth.dev">Diskusi</a></li>-->
                <!--<li><a href="http://idlaravel-auth.dev">Lowongan</a></li>-->
                <!--<li><a href="/submit">Submit <del>Artikel</del> Apapun</a></li>-->
            </ul>

            <ul class="nav navbar-nav navbar-right">

            </ul>
        </div>
    </div>
</nav>

<div class="clearfix"></div>
