@import "bootstrap-custom.less";
@import "variables.less";
@import "header.less";
@import "footer.less";
@import "well.less";
@import "prettyprint.less";
@import "pages/home.less";
@import "pages/post.less";

p {
  line-height: 28px;
}

p > code {font-size: .7em}
h2.title {
  font-weight: 300;
  margin-bottom: 40px;
}

h3 { margin: 40px 0 20px}
h4 { margin: 20px 0 10px}
