#navbar-header {
  height: 120px;
  background-color: #fff;
  border-color: transparent;
  border-top: 0 none;
  border-bottom: 1px solid @gray-lighter;

  .title{
//    text-transform: uppercase;
    font-size: 1.75em;
    font-weight: 700;
    line-height: 3em;
    a {
      color: @gray-dark;
      text-decoration: none;
    }
  }
  .navbar-brand {
    background-color: @brand-primary;
    display: none;
    height: 100px;
    .logo {
      margin-top: 18px;
    }

  }
}
