#navbar-header {
  height: 80px;
  background-color: @brand-primary;
  border-color: @brand-primary;

  .title{
    line-height: 2.25em;
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: 300;

    a {
      color: #fff;
      text-decoration: none;
    }
  }
}
