#page-post {

  .section-content {
    margin-bottom: 40px;
  }

  .section-comment {
    .comment {
      margin-bottom: 20px;
    }
  }

  .post {
    margin-bottom: 50px;
    .title {
      line-height: 1.25em;
    }

    h2 {margin: 40px 0 20px}
    h3 { margin: 30px 0 20px}
    h4 { margin: 20px 0 10px; color: @gray-light; font-weight: 300;}
    img {
      max-width: 100%; // Part 1: Set a maximum relative to the parent
      height: auto; // Part 2: Scale the height according to the width, otherwise you get stretching
    }
  }

  .share {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .related-post {
    text-align: center;

    .title, .subtitle {
      margin-top: 5px;
      margin-bottom: 5px;
    }

    .title {
      font-weight: 400;
    }
  }
}
