{% include header.html %}

<div class="container" id="page-post">

    <div class="section-content">
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <section class="post">
                    <h1 class="title">{{ page.title }}</h1>
                    {{ content }}
                </section>

                <section class="share">
                    {% include share.html url=page.url title=page.title %}
                </section>

                {% include related.html %}

            </div>
        </div>
    </div>

    <div class="section-comment">
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <section class="comment">
                    <div class="fb-comments" data-href="{{ site.url}}{{ page.url }}" data-numposts="10" data-width="100%"></div>
                </section>
                <section class="comment">
                    {% include disqus.html url=page.url %}
                </section>
            </div>
        </div>
    </div>

</div>

{% include footer.html %}

<script src="{{ site.baseurl }}public/js/jquery-1.10.2.min.js"></script>
<script src="{{ site.baseurl }}public/js/prettify.js"></script>
<script type="text/javascript">
    $(function(){
        $('pre > code').parent().addClass('prettyprint');
        prettyPrint();
    });
</script>

</body>
</html>
