{% include header.html %}

<div class="container" id="page-post">

    <div class="col-md-8">
        <section class="post">
            <h1 class="title">{{ page.title }}</h1>
            {{ content }}
        </section>

        <section class="comment">
            {% capture year %}{{page.date | date: "%Y"}}{% endcapture %}
            {% if year <= "2014" %}
            <div class="fb-comments" data-href="{{ site.url}}{{ page.url }}" data-numposts="10"></div>
            {% else %}
            {% include disqus.html url=page.url %}
            {% endif %}
        </section>

    </div>
</div>

{% include footer.html %}

<script src="{{ site.baseurl }}public/js/jquery-1.10.2.min.js"></script>

<script src="{{ site.baseurl }}public/js/prettify.js"></script>
<script type="text/javascript">
    $(function(){
        $('pre > code').parent().addClass('prettyprint');
        prettyPrint();
    });
</script>

</body>
</html>
